@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --blanco-roto: #F0EDE9;
  --gris-oscuro: #2F2F2D;
  --verde-grisaceo: #8E9580;
  --terracota: #8D4822;
}

@theme inline {
  --color-background: var(--blanco-roto);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--blanco-roto);
  color: var(--gris-oscuro);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  body {
    font-family: var(--font-outfit), sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1 {
    font-family: var(--font-playfair), serif;
    font-weight: 600;
    letter-spacing: -0.032em;
    font-size: 9rem;
  }

  h2 {
    font-family: var(--font-outfit), sans-serif;
    font-weight: 700;
    letter-spacing: -0.03em;
  }

  h3 {
    font-family: var(--font-outfit), sans-serif;
    font-weight: 500;
    letter-spacing: -0.03em;
  }

  h4 {
    font-family: var(--font-outfit), sans-serif;
    font-weight: 300;
    letter-spacing: 0.08em;
    text-transform: uppercase;
  }

  h5 {
    font-family: var(--font-outfit), sans-serif;
    font-weight: 400;
    letter-spacing: -0.03em;
  }

  h6 {
    font-family: var(--font-outfit), sans-serif;
    font-weight: 600;
    letter-spacing: -0.03em;
    font-size: 9.7rem;
  }
}

@theme {
  --blanco-roto: #F0EDE9;
  --gris-oscuro: #2F2F2D;
  --verde-grisaceo: #8E9580;
  --terracota: #8D4822;
}

.scroll-section-outer{
  overflow: hidden;
}

.scroll-section-inner{
  height: 100vh;
  width: 400vw;
  display: flex;
  flex-direction: row;
  position: relative; 
}

.scroll-section{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}